/* BASIC CSS */
/* -------------
-------------
------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: rgb(0, 132, 253);
  --primary-color-ligh: rgb(181, 221, 255);
  --secondary-color: rgb(151, 146, 228);
  --secondary-color-light: rgb(199, 195, 248);
  --dark-color: rgb(51, 51, 51);
  --primary-gap: 2rem 0;
}

/* CLASS UTILITY */
/* -------------
-------------
------------- */
section {
  padding: 3rem 0;
}

/* .border-1 {
  border: 5px dotted rgb(22, 22, 185);
}

.border-2 {
  border: 5px dotted rgb(255, 242, 0);
}

.border-3 {
  border: 5px dotted rgb(0, 255, 0);
}

.border-4 {
  border: 5px dotted rgb(255, 0, 60);
} */

.container-l {
  max-width: 380px;
  width: 100%;
  margin: auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--primary-gap);
}

.full-bg {
  background-color: var(--secondary-color);
}

.white-bg {
  background-color: white;
}

.color-white {
  color: white;
}

.color-secondary {
  color: var(--secondary-color);
}

.color-primary {
  color: var(--primary-color);
}

.basic-btn {
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 1rem;
}

.basic-big-btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  background-color: white;
  color: var(--secondary-color);
  letter-spacing: 2px;
  font-weight: 700;
}

.basic-blue-btn {
  padding: 0.7rem 1.8rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
}

.fa-apple {
  padding: 0 0.5rem;
}

.basic-purple-btn {
  padding: 0.4rem 2rem;
  border: none;
  border-radius: 1rem;
  color: white;
  background-color: var(--secondary-color);
}

.thin-purple-btn {
  padding: 0.3rem 0.4rem;
  border: none;
  border-radius: 1rem;
  color: white;
  background-color: var(--secondary-color);
}

.fa-linkedin {
  padding: 0 0.5rem;
}

.round-btn {
  padding: 1rem 1rem;
  border: none;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.padding-1 {
  padding: 1rem 0;
}

.padding-2 {
  padding: 2rem 0;
}

.padding-3 {
  padding: 3rem 0;
}

.padding-x1 {
  padding: 0 1rem;
}

.padding-x2 {
  padding: 0 2rem;
}

.paddingx3 {
  padding: 0 3rem;
}

.padding-xy {
  padding: 1.5rem 1.5rem;
}

.margin-1 {
  margin: 1rem 0;
}
/* header */
/* -------------
-------------
------------- */
.container-max {
  background-color: var(--primary-color);
}

header ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  display: none;
}

header a {
  text-decoration: none;
}

nav i {
  font-size: 2rem;
  line-height: 100%;
}

/* section 1 */
/* -------------
-------------
------------- */
.card {
  padding: var(--primary-gap);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color-ligh);
  border-radius: 1.5rem;
}

.section1-img {
  width: 75%;
  height: auto;
  margin-bottom: -2rem;
}

.col {
  padding: var(--primary-gap);
}

.text-align {
  text-align: center;
}

.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn {
  color: var(--primary-color);
  font-size: 3.5rem;
}

.fa-apple {
  color: white;
}
/* section 2 */
/* -------------
-------------
------------- */
.section-2 img {
  width: 75%;
  height: auto;
  padding-bottom: 5rem;
}

.section-2-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2-section-2 {
  clear: left;
}

.white-bg {
  border-radius: 1.5rem;
}

.white-bg p {
  text-align: center;
}
/* section 3 */
/* -------------
-------------
------------- */
.text-section-3 {
  text-align: center;
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.secondary-bg img {
  width: 75%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--primary-gap);
  border-radius: 1.5rem;
}
/* section 4 */
/* -------------
-------------
------------- */
.section-4 h2 {
  text-align: center;
}

.section-4 p {
  color: black;
}

.card-section-4 {
  padding: var(--primary-gap) var(--primary-gap);
  /* padding-left: var(--primary-gap); */
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-section-4 p {
  text-align: left;
}

.card-section-4 h2 {
  text-align: left;
}

/* section 5 */
/* -------------
-------------
------------- */
.section-5 img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

/* section 6 */
/* -------------
-------------
------------- */
.section-6-col {
  text-align: center;
  padding: 0 20%;
}

.section-6 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
}

.section-6 h3 {
  color: var(--secondary-color-light);
  font-weight: 100;
}

.section-6 h1 {
  color: rgb(248, 190, 0);
  font-size: 4rem;
}

/* FOOTER */
/* -------------
-------------
------------- */
.footer-container {
  background-color: var(--dark-color);
}

footer p {
  text-align: center;
  padding: var(--primary-gap);
  padding: 2rem 25%;
}

/* MEDIA QUERY */
/* -------------
-------------
------------- */
@media screen and (min-width: 430px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .container-l {
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
  /* section 1 */
  /* -----------
-----------
----------- */
  .section-1 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .table {
    display: table;
  }

  .card-table {
    display: table-cell;
  }

  .section-1 .col {
  }

  .col-2-3 {
    /* width: calc(100% / 3) * 2; */
    /* width: 66%; */
    flex-grow: 1;
    flex-basis: 60%;
  }

  .col-1-3 {
    /* width: calc(100% / 3); */
    /* width: 33%; */
    flex-grow: 0;
    flex-basis: 30%;
  }
  /* section 3 */
  /* -----------
-----------
----------- */
  .card-section-3 {
    display: flex;
    flex-direction: row;
  }

  .card-section-3 img {
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  /* section 4 */
  /* -----------
-----------
----------- */

  .row-section-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
  }

  .section-4-col {
    flex-grow: 1;
    flex-basis: calc(50% - 2rem);
  }

  .card-section-4 {
  }
  /* section 5 */
  /* -----------
-----------
----------- */
  .section-5 .row {
    display: flex;
    gap: 2rem;
  }

  .section-5-col-1 {
    width: 50%;
    padding-left: 2rem;
  }

  .section-5-col-2 {
    padding-left: 2rem;
    width: 50%;
    text-align: center;
  }
  /* section 6 */
  /* -----------
-----------
----------- */
  .section-6 {
    padding: 0 25%;
  }
  /* section 6 */
  /* -----------
-----------
----------- */
  .footer-container {
    padding: 0 25%;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
  /* nav */
  /* -----------
-----------
----------- */
  nav ul {
    display: flex;
  }

  .container-nav i {
    display: none;
  }

  /* section 1 */
  /* -----------
-----------
----------- */
  .container-l {
    max-width: 980px;
    width: 100%;
    margin: auto;
  }

  .section-1 .card {
    aspect-ratio: 1/1;
  }

  .flex-col-s1 {
    aspect-ratio: 2/1;
    display: flex;
    /* flex-direction: row; */
  }

  .flex-card {
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: row;
  }

  .section-1 img {
    width: 35%;
  }
  /* section 2 */
  /* -----------
-----------
----------- */

  .row-s2 {
    display: flex;
  }

  .section-2-col-1 {
    justify-content: flex-start;
    margin-top: -1rem;
  }

  .section-2-col-2 {
    justify-content: flex-end;
    margin-top: 10rem;
  }
  /* section 4 */
  /* -----------
-----------
----------- */
  .section-4-col {
    flex-grow: 1;
    flex-basis: calc(33% - 2rem);
  }

  .card-section-4 {
    aspect-ratio: 1/1;
  }
}

@media screen and (min-width: 1400px) {
}
