/* BASIC CSS */
/* -------------
-------------
------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: rgb(0, 132, 253);
  --primary-color-ligh: rgb(181, 221, 255);
  --secondary-color: rgb(151, 146, 228);
  --secondary-color-light: rgb(199, 195, 248);
  --dark-color: rgb(51, 51, 51);
  --primary-gap: 2rem 0;
}

/* CLASS UTILITY */
/* -------------
-------------
------------- */
section {
  padding: 3rem 0;
}

.border-1 {
  border: 5px dotted rgb(22, 22, 185);
}

.border-2 {
  border: 5px dotted rgb(255, 242, 0);
}

.border-3 {
  border: 5px dotted rgb(0, 255, 0);
}

.border-4 {
  border: 5px dotted rgb(255, 0, 60);
}

.container-l {
  max-width: 380px;
  width: 100%;
  margin: auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--primary-gap);
}

.full-bg {
  background-color: var(--secondary-color);
}

.white-bg {
  background-color: white;
}

/* header */
/* -------------
-------------
------------- */
.container-max {
  background-color: var(--primary-color);
}

header ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  display: none;
}

header a {
  text-decoration: none;
  color: white;
}

nav i {
  color: white;
  font-size: 2rem;
  line-height: 100%;
}

/* section 1 */
/* -------------
-------------
------------- */
.card {
  padding: var(--primary-gap);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color-ligh);
  border-radius: 1.5rem;
}

.section1-img {
  width: 75%;
  height: auto;
  margin-bottom: -2rem;
}

.col {
  padding: var(--primary-gap);
}

/* section 2 */
/* -------------
-------------
------------- */
.section-2 img {
  width: 75%;
  height: auto;
}

.section-2-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2-section-2,
.p-section-2 {
  color: white;
}

.h2-section-2 {
  clear: left;
}

.white-bg {
  border-radius: 1.5rem;
}

.white-bg p {
  text-align: center;
}
/* section 3 */
/* -------------
-------------
------------- */
.text-section-3 {
  text-align: center;
}

.text-section-3 h2 {
  color: var(--secondary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.secondary-bg img {
  width: 75%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.section-3-col-second {
  color: white;
}

.card-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--primary-gap);
  border-radius: 1.5rem;
}
/* section 4 */
/* -------------
-------------
------------- */
.section-4 h3 {
  color: var(--secondary-color);
}

.section-4 p {
  color: black;
}

.card-section-4 {
  padding: var(--primary-gap) var(--primary-gap);
  /* padding-left: var(--primary-gap); */
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-section-4 p {
  text-align: left;
}

/* section 5 */
/* -------------
-------------
------------- */
.section-5 img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.section-5 h2,
h3 {
  color: var(--secondary-color);
}

/* section 6 */
/* -------------
-------------
------------- */
.section-6-col {
  text-align: center;
}

.section-6 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
}

.section-6 h3 {
  color: var(--secondary-color-light);
  font-weight: 100;
}

.section-6 h2 {
  color: white;
}

.section-6 h1 {
  color: rgb(248, 190, 0);
  font-size: 4rem;
}

/* FOOTER */
/* -------------
-------------
------------- */
.footer-container {
  background-color: var(--dark-color);
}

footer p {
  color: white;
  text-align: center;
  padding: var(--primary-gap);
}

/* MEDIA QUERY */
/* -------------
-------------
------------- */
@media screen and (min-width: 430px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .container-l {
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
  /* section 1 */
  /* -----------
-----------
----------- */
  .section-1 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .table {
    display: table;
  }

  .card-table {
    display: table-cell;
  }

  .section-1 .col {
  }

  .col-2-3 {
    /* width: calc(100% / 3) * 2; */
    /* width: 66%; */
    flex-grow: 1;
    flex-basis: 60%;
  }

  .col-1-3 {
    /* width: calc(100% / 3); */
    /* width: 33%; */
    flex-grow: 0;
    flex-basis: 30%;
  }
  /* section 3 */
  /* -----------
-----------
----------- */
  .card-section-3 {
    display: flex;
    flex-direction: row;
  }

  .card-section-3 img {
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  /* section 4 */
  /* -----------
-----------
----------- */
  .row-section-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    max-width: 50%;
  }

  .section-4-col {
    flex-grow: 1;
    flex-basis: 0;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
